---
import Section from '../Section.astro'
---

<Section title="ABOUT ME">
  <p class="text-muted-foreground">
    Tom Day is a Java Full-Stack Developer with over 10 years of professional experience in the IT industry.
    Experienced in both server and client sides for software analysis, design, development and implementation of feature-rich web-based applications.
    He also has strong DevOps experience.
    Tom is a trusted team leader with strong communication skills.
  </p>
</Section>
