---
import Section from '../Section.astro'
---

<Section title="ABOUT ME">
  <p class="text-muted-foreground">
    John Day is an Architect and Developer with over 15 years of professional experience in the software industry. Dr. Day has led and contributed to
    many development and maintenance projects. He is a team leader with strong communication skills.
  </p>
</Section>
