---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="education" title="EDUCATION">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="MSSU"
    subheading="Computer Science"
    date=""
    altText="MSSU, Computer Science"
  />
</Section>
