---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="project-experience" title="PROJECT EXPERIENCE">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Hudson Bay"
    subheading="Real-Time Workflow and Collaboration Platform"
    date="July 2022 to Present"
    altText="Real-Time Workflow and Collaboration Platform"
  >
Tech Stack: TypeScript, Node.js, React, Redis, PostgreSQL, REST APIs
- Developed a real-time workflow and document collaboration platform, enabling multiple users to edit and save content simultaneously with conflict resolution.
- Designed RESTful APIs in Java and implemented database schemas in PostgreSQL to support scalable data storage for collaborative sessions.
- Built a dynamic front-end using React with TypeScript, incorporating state management with Zustand and real-time updates using WebSockets.
- Improved system performance by 35% by optimizing database queries and applying caching strategies.
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Capgemini"
    subheading="Full Stack Developer"
    date="September 2013 to July 2022"
    altText="Full Stack Developer"
  >
    Primary Responsibilities:
	- Establish and enforce coding standards, best practices, and development workflows.
	- Collaborate with DevOps to streamline CI/CD pipelines for seamless deployments.
	- Design and optimize APIs (REST/GraphQL) for performance and security.
	- Develop database schemas, write queries, and ensure data integrity using PostgreSQL.
	- Integrate third-party services and APIs as needed for business requirements.
	- Implement Redux and Zustand to handle application complexity.
	- Work closely with product managers, designers, and stakeholders to define project requirements and timelines.
	- Debug and resolve issues across the stack, ensuring system reliability and uptime.
	- Optimize application performance through database tuning, caching, and code optimization.
	- Research and implement new technologies to improve development efficiency and product quality.
  </Card>

</Section>
