---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="project-experience" title="PROJECT EXPERIENCE">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="US Retailer"
    subheading="Architect and Developer: Migrate B2C site to SAP Commerce and headless front-end via Angular Composable Storefront (Spartacus)"
    date="Jul 2022 to Present"
    altText="Migrate B2C site to SAP Commerce and headless front-end via Angular Composable Storefront (Spartacus)"
  >
    SAP Commerce, SAP ECC, SAP PIPO, SalesForce Service Cloud, Kubernetes, Composable Storefront, Angular, Java, Typescript, JavaScript, NodeJS,
    Python, Google Tag Manager, Pimcore, Spring, SQL Server, Cloudinary, BloomReach, REST, Web Services, ETL, Vertex, Bazaar Voice, Verifi, Azure
    Cloud, PayPal, MongoDB, Mirakl, Akamai, Microsoft Power BI, MuleSoft, Cron, Scrum, Git, Splunk, ELK Stack (Elastic Search, Logstash, Kibana),
    VSCode, IntelliJ, Confluence, Jira, Dynatrace, Jenkins, Gradle, BitBucket
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Global Retailer"
    subheading="Architect and Developer: Create a new D2C commerce site with headless front-end via Angular Spartacus. The hosted solution used SAP Commerce Cloud v2 (CCV2)"
    date="Jul 2020 to Jun 2022"
    altText="Create a new D2C commerce site with SAP Commerce and headless front-end via Angular Spartacus. The hosted solution used SAP Commerce Cloud v2 (CCV2)"
  >
    SAP Commerce, SAP ECC, SAP PIPO, Kubernetes, Composable Storefront, Angular, Java, Typescript, JavaScript, NodeJS, Google, Google Analytics,
    Tealium, Kubernetes, CyberSource, Spring, Azure, Solr, REST, USPS, Taxware, SAP ECC, SYNNEX, Bazaar Voice, PaymentTech, Verifi, Redis, Adobe
    Analytics, ETL, Live Chat, SalesForce Service Cloud, Azure, AWS, AEM, OUTH2, Pimcore, PayPal, SAML, Akamai, PriceSpider, Registria, Cron, Scrum,
    Git, Splunk, ELK Stack (Elastic Search, Logstash, Kibana), VSCode, IntelliJ, Confluence, Jira, Dynatrace, Jenkins, Gradle, BitBucket
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Internal Capgemini Project"
    subheading="Architect and Developer: Migrate and enhance Capgemini SAP Commerce assets. The purpose of this project is to (1) upgrade assets to the latest version; (2) create additional features via Angular."
    date="Mar 2020 to Jul 2020"
    altText="Architect and Developer: Migrate and enhance Capgemini SAP Commerce assets. The purpose of this project is to (1) upgrade assets to the latest version; (2) create additional features via Angular."
  >
    SAP Commerce, Java, TypeScript, JavaScript, Angular, Google Analytics, Google Tag Manager, CyberSource, Groovy, Spring, MySQL, Oracle, Solr, REST,
    ETL, Cron, AWS, Scrum, Git, ELK Stack (Elastic Search, Logstash, Kibana), Eclipse, VSCode, Jira, Confluence, Dynatrace, Jenkins, Grafana, VMWare
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Automotive Supplier"
    subheading="Architect and Developer: Create a new B2B Portal leveraging the current SAP Commerce and React functionality of the B2C site. Checkout and pricing were changed to be consistent with the B2B experience for the portal"
    date="Oct 2019 to Feb 2020"
    altText="Create a new B2B Portal leveraging the current SAP Commerce and React functionality of the B2C site. Checkout and pricing were changed to be consistent with the B2B experience for the portal"
  >
    SAP Commerce, Java, TypeScript, JavaScript, Groovy, React, Google Analytics, Tealium, PaymentTech, Oracle, AEM, Spring, AWS, Solr, REST, SAP ECC,
    ETL, AWS, PayPal, Akamai, Cron, Scrum, Git, ELK Stack (Elastic Search, Logstash, Kibana), Eclipse, VSCode, Jira, Confluence, Dynatrace, Jenkins,
    Grafana, Splunk, VMWare
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Sports Retailer"
    subheading="Architect and Developer: Using a common framework and a set of services, created 3 branded B2C sites and 1 B2B site. Each site theme for the 4 sites was different. A set of common service was used by all 4 sites, and a B2B set services were created for B2B features"
    date="Feb 2018 to Feb 2019"
    altText="Using a common framework and a set of services, created 3 branded B2C sites and 1 B2B site. Each site theme for the 4 sites was different. A set of common service was used by all 4 sites, and a B2B set services were created for B2B features"
  >
    SAP Commerce, Java, TypeScript, JavaScript, React, Groovy, Google Analytics, Spring, Oracle, AWS, Solr, REST, SAP ECC, Paymetric, ETL, Cron, Web
    Service/SOAP, JMS, Scrum, Git, Eclipse, VSCode, Jira, Confluence, Dynatrace, Jenkins, Grafana, Splunk
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Online Ticket Reseller"
    subheading="Architect and Developer: Created a B2C site for online ticket sales. Special requirements included: (1) very responsive page loads; (2) enhanced search using Solr; and (3) REST for all integration. Time-to-market speed was very important"
    date="Jul 2017 to Mar 2018"
    altText="Created a B2C site for online ticket sales. Special requirements included: (1) very responsive page loads; (2) enhanced search using Solr; and (3) REST for all integration. Time-to-market speed was very important"
  >
    SAP Commerce, Java, Google Analytics, Tealium, JavaScript, Spring, Oracle, SAP ECC, Solr, REST, IBM MQ, Cron, Informatica, ETL, Scrum, Git,
    Eclipse, Jira, Confluence, Dynatrace, Jenkins, Grafana, Splunk
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Automotive Supplier"
    subheading="Architect and Developer: The purpose of this project was to create a new B2B site using SAP Commerce (Hybris). One of the business goals was to increase web revenue from 40% of total revenue"
    date="Jan 2017 to Feb 2018"
    altText="The purpose of this project was to create a new B2B site using SAP Commerce (Hybris). One of the business goals was to increase web revenue from 40% of total revenue"
  >
    SAP Commerce, Java, Google Analytics, JavaScript, Spring, Oracle, SAP ECC, Solr, REST, WebMethods, Scrum, Git, Eclipse, Jira, Confluence,
    Dynatrace, Jenkins, Grafana, Splunk
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Multinational Information Technology Company"
    subheading="Architect and Developer: The purpose of this project was to redesign two existing B2B sites into using Hybris"
    date="Jul 2015 to Nov 2016"
    altText="The purpose of this project was to redesign two existing B2B sites into using Hybris"
  >
    SAP Commerce, SAP ECC, SAP PIPO, Java, JavaScript, Google Analytics, Spring, AWS, Solr, REST, Vertex, PaymentTech, Verifi, ETL, PayPal, SAML,
    Akamai, Registria, Cron, Scrum, Git, Splunk, Eclipse, Confluence, Jira, Dynatrace, Jenkins, Gradle, BitBucket
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Jewelry Retailer"
    subheading="The purpose of this project was to redesign 5 existing sites and re- platform from WebSphere Commerce to SAP Hybris. Mr. Day was the Technical Architect responsible for: (1) physical environments; (2) physical architecture; and (3) build and deployment. After which, he transitioned to role of Integration Architect and was responsible for batch feeds and REST integration"
    date="Sep 2015 to Jun 2016"
    altText="The purpose of this project was to redesign 5 existing sites and re- platform from WebSphere Commerce to SAP Hybris. Mr. Day was the Technical Architect responsible for: (1) physical environments; (2) physical architecture; and (3) build and deployment. After which, he transitioned to role of Integration Architect and was responsible for batch feeds and REST integration"
  >
    SAP Commerce, SAP ECC, Boomi, Mule ESB, Java, JavaScript, Google Tag Manager, Spring, AWS, Solr, REST, PaymentTech, ETL, Akamai, Cron, Scrum, Git,
    Splunk, Eclipse, Confluence, Jira, Dynatrace, Jenkins, Gradle, BitBucket
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Pharmaceutical"
    subheading="Architect: Create blueprint for B2B portal"
    date="Jan 2015 to Sep 2015"
    altText="The purpose of this project was to create a blueprint for a B2B portal. The client had a complex customer structure and complex regulatory business rules"
  >
    The purpose of this project was to create a blueprint for a B2B portal. The client had a complex customer structure and complex regulatory
    business rules. SAP Commerce, SAP ECC, SAP PIPO, CPC, Identify Management, SAML, Spring, ETL, ESB, Oracle, Cron, Scrum, Confluence, Jira, DOORS,
    Blaze Rules Engine
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Aerospace"
    subheading="Architect and Developer: The purpose of this project was to create a new B2B portal"
    date="May 2014 to Feb 2015"
    altText="The purpose of this project was to create a new B2B portal using SAP Hybris"
  />

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Clothing Retailer"
    subheading="Redesign 4 branded retail sites"
    date="Apr 2013 to Jun 2015"
    altText="The purpose of this project was to redesign 4 branded retail sites. A major component of this redesign was to replace existing legacy back-office functions with package offerings. Some of the solution components included Akamai for content management, Mule for enterprise integration, Informatica for transformation and ETL, Solr as the search engine, LDAP for internal user identity management and SSO, Oracle and DB2 databases. Mr. Day was responsible for the (1) application integration; (2) logical and physical data model; and ETL mapping"
  >
    The purpose of this project was to redesign 4 branded retail sites. A major component of this redesign was to replace existing legacy back-office
    functions with package offerings. Some of the solution components included Akamai for content management, Mule for enterprise integration,
    Informatica for transformation and ETL, Solr as the search engine, LDAP for internal user identity management and SSO, Oracle and DB2 databases.
    Mr. Day was responsible for the (1) application integration; (2) logical and physical data model; and ETL mapping.
  </Card>
</Section>
