---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="project-experience" title="TECHNICAL EXPERIENCE">

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Agile Scrum"
    subheading="Agile Scrum and SAFe methodologies"
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="JavaScript Frameworks"
    subheading="Design, implement, and maintain headless front-end JS frameworks React and Angular."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Web Application Features"
    subheading="Configuration, authentication, API, data fetching, data mutation, state management, caching, payment, subscription, invoice, content management, administration and management, language translation, emails, monitoring, security, analytics, troubleshooting."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Cloud Administration and Services"
    subheading="Extensive experience with Azure Cloud and Cloudflare."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Java"
    subheading="Experience with core Java concepts including multi-threading, collections, streaming, and concurrency."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Spring Framework"
    subheading="Spring packages for dependency injection, Spring MVC, REST API, and Springboot."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Scripting"
    subheading="Extensive use of scripting for DevOps and troubleshooting:  Groovy, Bash, Ant, Maven, and Gradle."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Monitoring"
    subheading="Use of Dynatrace for application monitoring, troubleshooting, and reporting.  Use of Azure and Cloudflare for infrastructure monitoring."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Integration"
    subheading="Experience with integration implementation via queue, REST, Web Service, RPC, and sockets.  Use of integration packages via Mule, Apache Camel, Kafka, Boomi, and Cron."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Database"
    subheading="Experience with database design, implementation, and troubleshooting for PostgreSQL, Oracle, SQL Server, MongoDB, MySQL.  Use of ORM packages such as Hibernate, Prism, and Drizzle."
  >
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Project Platform"
    subheading="Use of Atlassian Suite (JIRA, Confluence, Bitbucket) for project tracking, documentation, and source code repository."
  >
  </Card>






</Section>
