---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="sites" title="PERSONAL SITES">

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="3D Splash Page for eCommerce Product"
    subheading="NextJS, TypeScript, React, NodeJS, Prismic, Three, Zustand, Tailwind, Blender"
    date=""
    altText="3D Splash Page for eCommerce Product"
  >
    <a href="https://tom-marketing-3d.vercel.app" target="_blank">https://tom-marketing-3d.vercel.app</a>
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Create Research Paper via AI"
    subheading="Authentication, Postgres database, Drizzle, NodeJS, TypeScript, Python, React, NextJS, ShadCN, WebSockets, OpenAI, Agents, Stripe, Zod, Zustand, API rate-limits, Secure API"
    date=""
    altText="Create Research Paper via AI"
  >
    <a href="https://researchers.cc" target="_blank">https://researcher.cc</a>
  </Card>

   <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Scroll Animation Experiment"
    subheading="NodeJS, TypeScript, React, NextJS, Motion, Three"
    date=""
    altText="Scroll Animation Experiment"
  >
    <a href="https://scroll-animation-rouge.vercel.app" target="_blank">https://scroll-animation-rouge.vercel.app</a>
  </Card>

 <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Social Real-Time Media Sharing"
    subheading="Authentication, Postgres database, Prisma, NodeJS, TypeScript, React, NextJS 15, TanStack Query, ShadCN, Media Upload, Tailwind, Zod, GetStream (Real-Time Streaming)"
    date=""
    altText="Social Real-Time Media Sharing"
  >
    <a href="https://perplexy.org" target="_blank">https://perplexy.org</a>
  </Card>

</Section>
