---
import Section from '../Section.astro'
import SkillLayout from '../SkillLayout.astro'

const mySkills = [
  'AWS',
  'Akamai',
  'Angular',
  'Azure',
  'BloomReach',
  'Cloudflare',
  'Cloudinary',
  'Composable Storefront',
  'Confluence',
  'Cron',
  'Dynatrace',
  'Elastic Search',
  'ETL',
  'Git',
  'Gradle',
  'Grafana',
  'Groovy',
  'Hybris',
  'JMS',
  'Java',
  'JavaScript',
  'Jenkins',
  'Jira',
  'Kibana',
  'Kubernetes',
  'Logstash',
  'Mirakl',
  'MongoDB',
  'MuleSoft',
  'MySQL',
  'MSSQL',
  'NodeJS',
  'OUTH2',
  'Oracle',
  'PayPal',
  'PaymentTech',
  'Paymetric',
  'Pimcore',
  'Python',
  'REST',
  'React',
  'Redis',
  'SAML',
  'SAP Commerce',
  'SAP ECC',
  'SAP PIPO',
  'SQL Server',
  'SalesForce',
  'Scrum',
  'Solr',
  'Spartacus',
  'Splunk',
  'Spring',
  'TypeScript',
  'Web Services',
]
---

<Section id="skills" title="SKILLS">
  <SkillLayout title="" skills={mySkills} />
</Section>
