---
import Section from '../Section.astro'
import SkillLayout from '../SkillLayout.astro'

const mySkills = [
'AWS',
'Agile Scrum',
'Angular',
'Ant',
'Atlassian Suite',
'Azure',
'Bitbucket',
'Cloudflare',
'Communication',
'Confluence',
'Docker',
'Dynatrace',
'ETL',
'Eclipse',
'Elastic Search',
'FTP',
'Git',
'GraphQL',
'Groovy',
'JMS',
'Java',
'JavaScript',
'Jenkins',
'Jira',
'Kibana',
'Kubernetes',
'Linux',
'Logstash',
'Maven',
'MongoDB',
'Mule',
'MySQL',
'NodeJS',
'ORM',
'Oracle',
'PL/SQL',
'PostgreSQL',
'Python',
'REST',
'React',
'SAFE',
'SQL',
'SQL Server',
'Shell',
'Solr',
'Splunk',
'Spring',
'Tomcat',
'TypeScript',
'VS Code',
]
---

<Section id="skills" title="SKILLS">
  <SkillLayout title="" skills={mySkills} />
</Section>
