---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="work-experience" title="WORK EXPERIENCE">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="eCommerce Solutions LLC"
    subheading="Architect and Developer"
    date="Jun 2020 - Present"
    altText="Work experience at eCommerce Solutions LLC"
  />

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Capgemini / Lyons CG"
    subheading="Architect and Developer"
    date="Jul 2017 - May 2020"
    altText="Work experience at Capgemini / Lyons CG"
  />

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Accenture / Razorfish"
    subheading="Architect and Developer"
    date="Jun 2014 - Jun 2017"
    altText="Work experience at Accenture / Razorfish"
  />

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Daugherty Business Solutions"
    subheading="Architect and Developer"
    date="Apr 2013 - Jun 2014"
    altText="Work experience at Daugherty Business Solutions"
  />
</Section>
