---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="work-experience" title="WORK EXPERIENCE">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Capgemini"
    subheading="Full Stack Developer"
    date="June 2012 - Now"
    altText="Work experience at Capgemini"
  />
</Section>
